@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #2e1300;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.container .text {
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    font-size: 1.7rem;
}

.container .time {
    height: 25%;
    text-align: center;
    font-size: 1.2rem;
}

.container .motivation {
    height: 25%;
    width: 40%;
    margin: 0 auto;
    text-align: right;
    font-size: 0.9rem;
}