@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
}

.mb {
    margin-bottom: 1.5rem;
}

body {
    background: #2e1300;
    height: 100vh;
    width: 100vw;
}

.container {
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.container .text {
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    font-size: 1.7rem;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 8px 1px black;
}

.container .time {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 8px 1px black;
}

.container .motivation {
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    text-align: right;
    font-size: 0.9rem;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 8px 1px black;
}

/* Media Query */
@media(max-width: 360px) {
    .container .text {
        font-size: 1rem;
        padding: 1rem;
    }

    .container .time {
        width: 100%;
        font-size: 1.2rem;
    }

    .container .motivation {
        width: 100%;
        font-size: 1.3rem;
    }
}
@media(max-width: 768px) {
    .container .text {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .container .time {
        width: 100%;
        font-size: 1.5rem;
    }

    .container .motivation {
        width: 100%;
        font-size: 1.5rem;
    }
}
